body{
    overflow-x: hidden;
    z-index: -1;
   
   
}
.grid{
    display: flex;
    z-index: -1;
}
button{
    border: none;
}
.home{
    display:flex;
    flex-direction: column;
    width: 601px;
    margin-left: 590px;
    height: 12150px;
    border: 1px solid rgb(47 51 54);
    z-index: 500;
    margin-top: 0;
    background-color: black;
}
.top-tweet{
    vertical-align: middle;
    width: 70px;
    padding-left: 452px;
    margin-right: -15px;
}
.home-title{
    padding-left: 6px;
    color: rgb(231 233 234);
    font-size: 20px;
    display: flex;
    position: fixed;
    align-items: center;
    font-weight: 700;
    z-index: 1000;
    background:rgba(1 ,1 ,1 ,0.91 );
    
    padding-bottom: 20px;
    margin-top: -2px;
    padding-top: 9px;    
}
.top-tweet-container{
    display: inline-block;
    vertical-align: middle;
    
}
.tweet-box{
    padding-top: 70px;
    padding-left: 16px;  
}
.my-profile{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    
}
.text-box{
    vertical-align: middle;
    font-size: 20px;
    color: rgb(231 233 234);
    background-color: black;
    border: none;
    padding: 15px 12px;
    padding-right: 100px;
    
}
.text-boxx{
    display: inline-block;
    vertical-align: middle;
}
.icons{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top:7px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(47 51 54);
    padding-left: 16px;
    
}
.media-icon{
    width: 24px;
    
    padding-left: 65px;
    
}
.gif-icon{
    width: 28px;
    padding-left: 10px;

    
}
.poll-icon{
    width: 22px;
    margin-left: 7px;
    
}
.emoji-icon{
    width: 20px;
    margin-left: 16px;
}
.schedule-icon{
    width: 24px;
    padding-left: 12px;
}
.location-icon{
    width: 20px;
    margin-left: 19px;
}
.tweet-button-container{
    margin-left: 210px;
}
.tweet-button{
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(25, 155, 240);
    padding: 8px 17px;
    border-radius: 30px;
}
.content{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 470px;
    display: flex;
    padding-top: 12px;
    
}
.content2{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 430px;
    display: flex;
    padding-top: 12px;
}
.content3{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 645px;
    display: flex;
    padding-top: 12px;
}
.content4{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 480px;
    display: flex;
    padding-top: 12px;
}
.content5{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 605px;
    display: flex;
    padding-top: 12px;
}
.content6{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 620px;
    display: flex;
    padding-top: 12px;
}
.content7{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 710px;
    display: flex;
    padding-top: 12px;
}
.content8{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 450px;
    display: flex;
    padding-top: 12px;
}
.content9{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 630px;
    display: flex;
    padding-top: 12px;
}
.content10{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 610px;
    display: flex;
    padding-top: 12px;
}
.content11{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 530px;
    display: flex;
    padding-top: 12px;
}
.content12{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 625px;
    display: flex;
    padding-top: 12px;
}
.content13{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 670px;
    display: flex;
    padding-top: 12px;
}
.content14{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 645px;
    display: flex;
    padding-top: 12px;
}
.content15{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 480px;
    display: flex;
    padding-top: 12px;
}
.content16{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 630px;
    display: flex;
    padding-top: 12px;
}
.content17{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 720px;
    display: flex;
    padding-top: 12px;
}
.content18{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 645px;
    display: flex;
    padding-top: 12px;
}
.content19{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 500px;
    display: flex;
    padding-top: 12px;
}
.content20{
    color: white;
    border: 1px solid rgb(47 51 54);
    height: 450px;
    display: flex;
    padding-top: 12px;
}
.content-post3{
    width: 360px;
    height: 502px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid rgb(113, 118, 123);
}
.content-post5{
    width:408px;
    height: 510px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid rgb(113, 118, 123);
}
.link-post{
    color: rgb(29, 155, 240);
    text-decoration: none;
}
.content:hover,
.content2:hover,
.content3:hover,
.content4:hover,
.content5:hover,
.content6:hover,
.content7:hover,
.content8:hover,
.content9:hover,
.content10:hover,
.content11:hover,
.content12:hover,
.content13:hover,
.content14:hover,
.content15:hover,
.content16:hover,
.content17:hover,
.content18:hover,
.content19:hover,
.content20:hover{
    background-color: rgba(111, 118, 123, 0.1); 
}